body {
  background: #2D3E4E;
  color: white;
}

h1 {
  text-align: center;
  margin-top: 32px;
}

#location {
  width:  240px;
}

#gps-coordinates p {
  margin-bottom: 0;
}

#map {
  margin-top: 16px;
}
